.sebet{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 30px;
 display: flex;
 justify-content: space-between;
 


    .left-basket{
        gap: 10px;
display: flex;
justify-content: space-around;
padding-top: 2%;
border-radius: 30px;
border: 2px solid rgb(140, 218, 24);
padding-bottom: 2%;
padding-left: 2%;
}

    }

.bosduz{
    width: 1px;
    height: 100%;
    background-color:rgb(211, 211, 211);
}

.altalt{
    display: flex;
    flex-direction: column;
    .writeone{
        display: flex;
        gap: 10px;
   p{
    font-size: 21px;
    color: rgb(115, 180, 17);
    font-weight: bold;
    padding-bottom: 10%;
   }
   span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: rgb(115, 180, 17);;
    }
   }
    }
}

.sk{
    width: 25%;
    height:90%;

    img{
width: 100%;
height: 100%;
    }
}
.dr{
    gap: 20px;
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    width: 75%;

}
.twobtn{
display: flex;
width: 90%;
align-items: center;
gap: 40px;
border: 1px solid gainsboro;
border-radius: 30px;
height: 68px;

.count{
margin-left: 2%;
    border: 1px solid gainsboro;
border-radius: 30px;
width: 35%;
height: 50px;
    display: flex;
    gap: 20px;
align-items: center;
justify-content: center;
span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    font-size: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
}
}
.total{
    font-size: 30px;
    font-weight: bold;
}

.right-order{
padding-top: 2%;
padding-right: 2%;
width: 20%;
}

.order{
    background-color: rgb(65, 65, 65);
    border-radius: 20px;
  display: flex;
  flex-direction: column;


    .dib{
        padding-top: 4%;

        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        .pr{
            
            p{
                color: rgb(155, 155, 155);
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

.vol{
    width: 90%;
    height: 1px;
    background-color: rgb(214, 214, 214);
  margin-top: 3%; 
  margin-bottom: 3%;
  margin-left: 2%;
}
.pro{
          padding-top: 3%;  
    p{
        color:rgb(156, 219, 29);
        font-size: 12px;
        font-weight: 500;
      
    }
}

.orderbutton{
    width: 90%;
    border-radius: 30px;
    background-color: rgb(153, 230, 0);
    border: none;
    height: 45px;
    font-weight: 500;
    margin-left: 4%;
    margin-bottom: 6%;
    margin-top: 6%;
    
}

.esas{
    p{
        font-size: 14px;
        font-weight: 500;
    }
}

.ci{
    font-weight: bold;
    padding-bottom: 2%;
}
@media screen and (max-width: 768px) {
    .sebet {
      flex-direction: column; 
    }
  
    .sebet, .right-order {
      width: 100%; 
      margin: 0; 
    }
    .sebet, .right-order img {
        width: 100%; 
        margin: 0; 
        height: 100%;
      }
  
    .left-basket, .right-order {
      margin: 0; 
    }
  
    .right-order {
      margin-top: 20px; 
    }
  }
  
  .l{
    margin-right: 2%;
  }
  
  .contact-fl{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    gap: 30px;
    border-radius: 30px;
display: flex;
justify-content: space-around;
    .elaqe{

        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 2%;
        padding-left: 4%;
        .py{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
           
            h2{
                font-size: 22px;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                color: gray;
            }
        }
    .melumat{
        display: flex;
        flex-direction: column;
        gap: 20px;
     
    }
    }
    .maps{
        padding-top: 1%;
        padding-bottom: 2%;
        padding-right: 2%;
        width: 45%;
        height: auto;
    }
}
.ikiyan {
    display: flex;
    justify-content: space-between;
  }
  
  .ikiyan input {
    width: 48%; /* İki input alanını eşit genişlikte yapmak için */
  }
  
  /* Bu stil, küçük ekranlarda input alanlarını sıralı bir şekilde göstermek için */
  @media screen and (max-width: 600px) {
    .ikiyan {
      flex-direction: column; /* Küçük ekranlarda sıralı bir şekilde görüntüle */
    }
    .ikiyan input {
      width: 100%; /* Tam genişlikte yap */
    }
  }
  
  .emailyan{
    display: flex;

    gap: 3%;
    align-items: start;
    justify-content: start;
    input{
        border: 1px solid rgb(132, 132, 132);
        border-radius: 40px;
        width: 60%;
        height: 44px;
        outline: none;
        padding-left: 20px;
    }
}
.input-grup{
    display: flex;
    flex-direction: column;
      gap: 20px;
      padding-bottom: 2%;
      width: 100%;
      input{
          border: 1px solid rgb(132, 132, 132);
          border-radius: 40px;
          width: 100%;
          height: 43px;
          outline: none;
          padding-left: 20px;
          button{
            border: none;
            background-color: rgb(160, 223, 36);
            border-radius: 25px;
            width: 48%;
            height: 45px;
            outline: none;
            padding-left: 20px; 
            font-weight: 500;
            &:hover{
                background-color: rgb(120, 172, 18);
            }
        }
      }
}

.input-containers{
    display: flex;
    gap: 30px;
}

.sam{
    margin-top: 3%;
    width: 40%;
    height: 45px;
    border: none;
    background-color: rgb(173, 234, 52);
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 3%;

}
.custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: yellowgreen;
    border-radius: 50%;
  }
  
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }
  
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .label-text {
    padding-left: 35px;
  }
  
  .flex-middle{
    display: flex;
    padding-top: 3%;
    justify-content: center;
    flex-direction: column;

  }
  
  .input-grup {
    flex: 1 1 100%; /* Full width for inputs on smaller screens */
  }

@media screen and (max-width: 600px) {
  .contact-fl {
    flex-direction: column;
  }

  .elaqe,
  .maps,
  .right-order {
    max-width: none;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .order {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
