@charset "UTF-8";
.nvdia {
  position: relative;
}
.nvdia .img {
  position: relative;
  display: block;
  overflow: hidden;
}
.nvdia .img img {
  width: 100%;
  height: auto;
  display: block;
}

.wr {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.wr img {
  width: 200px;
  margin-top: 20px;
}
.wr h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.wr h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.wr p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto 20px;
}
.wr button {
  background-color: rgb(112, 179, 12);
  width: 100px;
  border: none;
  font-weight: bold;
  color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 1rem;
}
.wr button:hover {
  cursor: pointer;
  background-color: rgb(144, 222, 28);
  transition: 0.8s;
}
@media screen and (max-width: 700px) {
  .wr {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin: 0;
  }
}

.nvdia {
  position: relative;
}
.nvdia .imag {
  position: relative;
  overflow: hidden;
  height: auto;
}
.nvdia .imag img {
  width: 100%;
  height: auto;
  display: block;
}

.wrr {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wrr h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.wrr h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.wrr p {
  font-size: 1rem;
  max-width: 600px;
}
@media screen and (max-width: 700px) {
  .wrr {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin: 0;
  }
}

.anyway {
  position: relative;
  overflow: hidden; /* Prevent scrolling */
}

.anyway .imeg img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%; /* Ensure the image does not exceed the container width */
}

.wra {
  position: absolute;
  top: 57%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wra h1,
.wra h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}

.wra h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.wra p {
  font-size: 1rem;
  max-width: 700px;
  font-weight: bold;
}

.wra .flx {
  display: flex;
  gap: 40px;
}

.wra .r {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wra .pht {
  text-align: center;
  width: 300px;
  height: 200px;
}

.wra .roww {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 700px) {
  .wra {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    text-align: center;
    background-color: #000;
  }
  .wra .r {
    width: 100%;
  }
  .wra .roww {
    grid-template-columns: repeat(1, 1fr);
  }
}
.imags {
  position: relative;
  overflow: hidden;
  height: auto;
}
.imags img {
  width: 100%;
  height: 500px;
  display: block;
}

.nvdia {
  position: relative;
}
.nvdia .img {
  position: relative;
  display: block;
  overflow: hidden;
}
.nvdia .img img {
  width: 100%;
  height: auto;
  display: block;
}

.wre {
  position: absolute;
  top: 54%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wre img {
  width: 600px;
  margin-top: 20px;
}
.wre h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}
.wre h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}
.wre p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto 20px;
}
.wre button {
  background-color: rgb(112, 179, 12);
  width: 100px;
  border: none;
  font-weight: bold;
  color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 1rem;
}
.wre button:hover {
  cursor: pointer;
  background-color: rgb(144, 222, 28);
  transition: 0.8s;
}
@media screen and (max-width: 700px) {
  .wre {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin: 0;
  }
}

.karts {
  height: 500px;
  width: 300px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.karts img {
  width: 100%;
}

.karts h3 {
  font-size: 22px;
  padding-left: 20px;
}

.karts p {
  font-size: 16px;
  padding-left: 20px;
}

.gray {
  background-color: #1a1a1a;
}

.containerr {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.rows {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
}

.black {
  background-color: black;
}

@media screen and (max-width: 700px) {
  .rows {
    grid-template-columns: repeat(1, 100%); /* Ekranın genişliği kadar 1 sütun */
  }
}
.kart {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.kart img {
  width: 100%;
}
.kart h3 {
  color: #fff;
  font-size: 16px;
}
.kart button {
  width: 130px;
  background-color: rgb(112, 179, 12);
  border: none;
  font-weight: bold;
  color: #fff;
  color: #000;
  padding: 10px 20px;
  font-size: 1rem;
}
.kart button:hover {
  cursor: pointer;
  background-color: rgb(144, 222, 28);
  transition: 0.8s;
}

.bo {
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-top: 5%;
}

.fl {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.fle {
  padding-top: 2%;
}
.fle p {
  color: #7b7b7b;
  font-size: 12px;
  text-align: center;
}

.nvdia,
.nvdia .imag,
.nvdia .imeg,
.imags {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.nvdia .imag,
.nvdia .imeg,
.imags {
  overflow: hidden; /* Prevent scrolling */
}

.imags img {
  height: 500px;
}/*# sourceMappingURL=Nvdia.css.map */